<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="elogic_contactform_form_listing_data_source" xsi:type="string">Elogic\ContactForm\Model\ResourceModel\From\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
    <virtualType name="Elogic\ContactForm\Model\ResourceModel\Form\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">elogic_contactform</argument>
            <argument name="resourceModel" xsi:type="string">Elogic\ContactForm\Model\ResourceModel\From</argument>
        </arguments>
    </virtualType>
</config>
